/** @format */

.popup {
  position: fixed;
  top: 0%;
  left: 0%;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(4px);
  z-index: 10;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__box {
    max-width: 120rem;
    width: 100%;
    // height: 70rem;
    padding: 5rem;

    color: #f5f5f5;
    background-color: #222;
    border: 2px solid #fff;

    display: grid;
    grid-template-columns: repeat(8, minmax(5rem, 1fr));
    grid-template-rows: repeat(4, min-content);
    gap: 2rem;

    justify-items: center;
    align-items: center;

    position: relative;

    &__close {
      position: absolute;
      top: 3rem;
      right: 3rem;
      font-size: 2.5rem;
      text-decoration: none;
    }
  }

  &__heading {
    grid-column: 3 / 7;
    grid-row: 1 / 2;

    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 2rem;

    color: #fff;
    background-image: linear-gradient(
      0deg,
      rgba(255, 75, 0, 1) 0%,
      rgba(255, 200, 0, 1) 100%
    );

    transform: rotate(-3deg);
  }

  &__header {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: #333;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    padding: 3rem;
    width: 100%;

    font-size: 2rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, min-content);
      gap: 3rem;
    }

    & p {
      display: flex;
      justify-content: center;
      align-items: center;

      & span {
        cursor: pointer;
      }
    }

    & span {
      margin-right: 1rem;
    }
  }

  &__footer {
    grid-column: 1 / -1;
    grid-row: 4 / 5;

    width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #333;

    &__para {
      font-size: 1.6rem;
      padding: 1rem;

      @media only screen and (max-width: $bp-medium) {
        text-align: center;
      }
    }
  }
}

.span__icon {
  color: rgb(253, 111, 45);
}

.recipe__bookmark {
  cursor: pointer;
  color: rgb(253, 111, 45);
}

// /////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////

.ingredients {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  &__heading {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    padding: 2rem;
    font-size: 2.5rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 5rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }

  &__item {
    font-size: 2rem;
    line-height: 1.2;
    list-style: none;

    display: flex;
    align-items: center;

    & span {
      margin-right: 1rem;
      color: rgb(253, 111, 45);
    }
  }
}

// ///////////////////////////////////////////////////
// ///////////////////////////////////////////////////
// ///////////////////////////////////////////////////

.how-to-cook {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;

  padding: 1rem 2rem;
  border-radius: 2rem;

  color: #fff;
  background-image: linear-gradient(
    0deg,
    rgba(255, 75, 0, 1) 0%,
    rgba(255, 200, 0, 1) 100%
  );
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.1);
  }
}
